[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
networkx = "*"
"e1839a8" = {path = ".", editable = true}
python-cypher = "*"
"py2neo" = "*"
docker = "*"

[dev-packages]
